<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name="com.example.virosample.ProductSelectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="Amazon AR Gallery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.virosample.ProductARActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.virosample.ProductARActivityComplete"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:label="Product Details"
            android:name="com.example.virosample.ProductDetailActivity"/>

    </application>
</manifest>
