<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name="com.example.virosample.ViroARHelloWorldActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.ar.core" android:value="optional" />
    </application>
</manifest>
