<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virosample">

    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Required for Recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/viro_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.viromedia.API_KEY"
            android:value="7EEDCB99-2C3B-4681-AE17-17BC165BF792" />
        <meta-data android:name="com.google.ar.core" android:value="optional" />

        <activity
            android:name="com.example.virosample.ViroActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>