/ios/ViroRenderer.xcodeproj/xcuserdata/*
/ios/ViroRenderer.xcodeproj/project.xcworkspace/xcuserdata/**
/ios/ViroRenderer.xcworkspace/xcuserdata/**
/ios/Pods/Pods.xcodeproj/xcuserdata/**
.DS_Store
android/.idea/misc.xml
