<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virosample">

    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Required for Recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ProductApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/viro_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.viromedia.API_KEY"
            android:value="API_KEY_HERE" />
        <meta-data android:name="com.google.ar.core" android:value="optional" />

        <activity
            android:name="com.example.virosample.ProductSelectionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="Amazon AR Gallery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.virosample.ProductARActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.virosample.ProductARActivityComplete"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:label="Product Details"
            android:name="com.example.virosample.ProductDetailActivity"/>
    </application>

</manifest>