<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viromedia.releasetest">

    <!-- Required to read the paired viewer's distortion parameters -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="android.support.test.runner"
            android:required="false" />
        <!-- Required for Viro-->
        <meta-data
            android:name="com.viromedia.API_KEY"
            android:value="7EEDCB99-2C3B-4681-AE17-17BC165BF792" />
        <activity
            android:name="com.viromedia.releasetest.ViroReleaseTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:enableVrMode="false"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.google.intent.category.CARDBOARD" />
                <category android:name="com.google.intent.category.DAYDREAM" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="***REMOVED***"
            />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>