<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViroKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ViroRendererSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F517BB51BCDA2BD0017C70B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F517BD11BCDA2BD0017C70B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F517BDC1BCDA2BE0017C70B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD4DECC1C18ECD4003DC425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD4DED51C18ECD4003DC425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
